{% extends "layouts/base.njk" %}

{% block content %}
  <div class="posts">
    <h2>Browse by Tag</h2>
    <div class="tags">
      {% for tag in collections.tagList %}
        <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="sidebar">
    <div class="tags">
      <h3>Tags</h3>
      {% for tag in collections.tagList %}
        <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="subscribe">
      <h3>Subscribe</h3>
      <p>Get the latest posts delivered straight to your inbox</p>
      <form name="sidebar-newsletter" method="POST" data-netlify="true">
        <input type="email" name="email" placeholder="Email address" required />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
{% endblock %}
