---
pagination:
  data: collections.tagMap
  size: 1
  alias: tagPosts
  addAllPagesToCollections: true
  permalink: "/tags/{{ pagination.page }}/"
eleventyComputed:
  tag: "{{ pagination.page }}"
  posts: "{{ collections.tagMap[pagination.page] }}"
layout: "layouts/tag.njk"
---
