---
pagination:
  data: collections.tagMap | keys | map(tag => tag | slugify)
  size: 1
  alias: tagSlug
  addAllPagesToCollections: true
  permalink: "/tags/{{ tagSlug }}/"
eleventyComputed:
  tag: "{{ tagSlugMap[tagSlug] }}"
  posts: "{{ collections.tagMap[tag] }}"
layout: "layouts/tag.njk"
---
